.section {
  padding: 12rem 8vw;
}

.inner {
  max-width: 1400px;
  margin-inline: auto;
}

.inner span {
  display: block;

  margin-bottom: 2rem;

  color: var(--muted);

  letter-spacing: 0.3em;
}

.inner p {
  font-size: clamp(1.5rem, 3vw, 2.5rem);

  line-height: 1.5;

  margin-bottom: 2rem;
}

.inner p:last-child {
  color: var(--muted);
}

@media (max-width: 900px) {
  .about {
    padding: 8rem 2rem;
  }
}